.product1 {
    display: grid;
    cursor: pointer;
    padding: 90px;
  }
  
  .product-grid1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 200px; /* Adjust the gap value according to your preference */
    padding-bottom: 20%;
  }
  
  .zoom1 {
    height: 10px;
    width: 10px;
  }
  
  .des1,
  .des2 {
    font-weight: 700;
    padding-bottom: 5%;
  }
  