.footer {
    text-align: center;
    bottom: 0;
    width: 100vw;
    height: 2vh;
    background-color: #fc67fa;
    color: #333;
    font-size: 14px;
    position: fixed;
    padding: 20px;
  }
  .footericons {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    padding-right: 40px;
    margin-top: -18px; /* Move 1px above */
  }
  